@import "tailwindcss";

@theme {
  --color-cosmic-black: #020617;
  --color-cosmic-blue: #0f172a;
  --color-cosmic-purple: #8b5cf6;
  --color-neon-violet: #8b5cf6;
  --color-neon-blue: #3b82f6;
  --font-sans: "Inter", "5atoshi", "Space Grotesk", sans-serif;
}

:root {
  --background: #021702;
  --foreground: #f8fafc;
  --accent-violet: #8b5cf6;
  --accent-blue: #3b82f6;
  --glass: rgba(15, 23, 42, 0.7);
  --border-glass: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}

@keyframes shooting-star {
  0% {
    transform: translateY(300px, -300px) rotate(45deg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px, 1000px) rotate(45deg);
    opacity: 0;
  }
}
.animate-shooting-star {
  animation: shooting-star 3s linear infinite;
}
